.ion {
  height: 100vh;
}
.ion-slides-pager {
}
.swiper-pagination {
  position: absolute;
  height: 2vh;
  top: 59px;
  left: -20px !important;
}
.swiper-pagination-bullets{
  padding-right: 200px;
}