.opengroups_headercardmain {
  background-color: black !important;
  opacity: 90% !important;

  .opengroups_headercard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding-top: 9px;
    padding-bottom: 61px;

    .opengroups_headercardback {
      width: 10%;
    }
    .opengroups_headercardback1 {
      width: 40%;
    }
  }
}
.opengroups_profile {
  position: absolute;
  top: 79px;
  left: 12.5%;
  height: 75px;
  width: 75px;
  background-color: #ff4333;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;

  .opengroups_profile1 {
    height: 90%;
    width: 90%;
  }
}

.opengroups_main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-around;

  .opengroups_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0vw auto;
  }

  .opengroups_cardsub {
    margin: 14px auto 0px auto;
    width: 75%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    color: #787878;

    display: flex;
    gap: 8px;
    &_glist {
      display: flex;
      gap: 3px;

      &_num {
        font-size: 10px;
      }
      &_dot {
        font-size: 10px;
      }
    }
  }
  .opengroups_cardline {
    background-color: #444444;
    margin-top: 28px;
    height: 1px;
    width: 100%;
  }
}

.opengroups_habits {
  &_o {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
  }
  &_i {
    width: 95%;
    display: flex;
    height: 90%;
    align-items: center;
    gap: 5px;
    overflow-x: scroll;
    
    &_1 {
      background-color: var(--neutral-500);
      color: white;
      border-radius: 4px;
      // font-family: "Inter";
      // font-style: normal;
      // font-weight: 700;
      // font-size: 10px;
      // line-height: 120%;
      // text-decoration: none;
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 10px 19px;
    }
  }
  &_l {
    background: #292a2c;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
  }
}

.opengroups_habits_title {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  &_wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_l {
    &_text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 120%;
    }
  }
  &_r {
    &_l {
      gap: 1.2rem;
      color: #2a67f5;
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      > li {
        font-size: 1.3rem;
      }
    }
  }
}

.opengroups_habit {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_l {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &_profile {
      border-radius: 50%;
      height: 40px;
    }
    &_text {
    }
  }
  &_r {
    &_l {
      gap: 1.4rem;
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
    }
  }
}
