:root {
  --frame: #000000;

  --primary: #2a67f5;
  --secondary: #2a4890;

  --neutral-900: #000000;
  --neutral-800: #1a1a1a;
  --neutral-500: #292a2c;
  --neutral-300: #787878;
  --neutral-100: #ffffff;
}
